<div fxFlexFill fxLayoutAlign="center start">
  <!-- PAGE ACTIONS -->
  <div class="page-actions" fxLayout="row">
    <a mat-icon-button [routerLink]="['/']"><mat-icon>home</mat-icon></a>
    <div fxFlex></div>
    <button mat-icon-button (click)="isDone = false">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <!-- PAGE ACTIONS -->

  <!-- CAPTCHA -->
  <div class="sdg-captcha-error" *ngIf="true" style="margin-top: 80px;">
    <div class="sdg-captcha" fxLayout="row" fxLayoutAlign="start center">
      <div class="checkbox-container">
        <mat-spinner [diameter]="32" *ngIf="isLoading && !isDone"></mat-spinner>

        <div
          class="checkbox"
          *ngIf="!isLoading && !isDone"
          (click)="openImageSelector()"
        ></div>

        <!-- IMAGE SELECTOR -->
        <div
          class="overlay"
          *ngIf="isImageSelectorOpened"
          (click)="isImageSelectorOpened = false; isLoading = false"
        ></div>
        <div
          class="mat-elevation-z2 image-selector"
          *ngIf="isImageSelectorOpened"
        >
          <!-- QUESTION -->
          <div class="question" fxLayout="column">
            <span>Select all "UNSDG Targets" of</span>
            <span class="goal">{{ question.text | uppercase }}</span>
            <span>Click verify once there are none left</span>
          </div>
          <!-- QUESTION -->

          <!-- ANSWER SETS -->
          <div
            fxLayout="row wrap"
            fxLayoutAlign="space-between"
            fxLayoutGap="4px"
            *ngFor="let set of answersSet"
          >
            <div class="answer" fxFlex *ngFor="let answer of set">
              <div
                class="image"
                [ngClass]="{
                  grayscale: !isColorsOn,
                  selected: isSelected(answer)
                }"
                [ngStyle]="{ 'background-image': 'url(' + answer.img + ')' }"
                (click)="select(answer)"
              ></div>
            </div>
          </div>
          <!-- ANSWER SETS -->

          <!-- ERROR MESSAGE -->
          <div class="error-text" *ngIf="isError">
            Please select all matching "Targets".
          </div>
          <!-- ERROR MESSAGE -->

          <!-- ACTIONS -->
          <div class="actions" fxLayout="row">
            <div>
              <button mat-icon-button (click)="refresh()">
                <mat-icon>refresh</mat-icon>
              </button>
              <button mat-icon-button (click)="isColorsOn = !isColorsOn">
                <mat-icon *ngIf="isColorsOn">invert_colors_off</mat-icon>
                <mat-icon *ngIf="!isColorsOn">invert_colors</mat-icon>
              </button>
              <a
                mat-icon-button
                href="https://supportbetterworld.org"
                target="_blank"
                matTooltip="Find out the answer"
              >
                <mat-icon>info_outline</mat-icon>
              </a>
            </div>
            <div fxFlex></div>
            <button mat-flat-button color="primary" (click)="verify()">
              Verify
            </button>
          </div>
          <!-- ACTIONS -->
        </div>
        <!-- IMAGE SELECTOR -->

        <mat-icon
          class="done"
          *ngIf="isDone"
          (click)="isLoading = false; isDone = false"
        >
          done
        </mat-icon>
      </div>

      <div fxLayout="column">
        <span>I'm a "TRUE" Human</span>
      </div>
      <div fxFlex></div>
      <div class="brand" fxLayout="column" fxLayoutAlign="start center">
        <a href="http://jcihk.org" target="_blank">
          <img class="logo" src="./assets/images/logo.png" />
        </a>

        <div class="link-text" fxLayout="row">
          <a href="" style="margin-right: 2px;">Privacy</a>
          <span>{{ ' - ' }}</span>
          <a href="" style="margin-left: 2px;">Terms</a>
        </div>
      </div>
    </div>
    <!-- Please verify that you are an Active Citizen. -->
  </div>
  <!-- CAPTCHA -->
</div>
